---
page_title: "Provider: GPG"
description: |-
  The GPG provider provides a resource to generate a ECC (Curve25519) private/public key pair.
---

# GPG Provider
The GPG provider provides a resource to generate a ECC (Curve25519) private/public key pair.

Example:
{{ tffile "examples/resources/gpg_key/resource.tf" }}
